node_modules/
dist/
.turbo/
.pnpm-debug.log*
.npmrc.local
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
.vite/
.rollup.cache/
.swc/
.tsbuildinfo
.tsbuildinfo.*
.vercel/
.netlify/
.out/
.temp/
.tmp/
.history/
.pnpm-store/

*.local
*.tgz

# OS / editors
.DS_Store
Thumbs.db
.idea/
# Keep workspace settings out of repo (optional)
.vscode/
.vscode-test/
.vscode-test2/
*.vsix
*.log
coverage/

